
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}


body{
background:white;
}


/* NAVBAR */

.navbar{
background:#074399;
padding:15px;
}

.menu{
display:flex;
gap:20px;
align-items:center;
}

.menu a{
color:white;
text-decoration:none;
font-size:18px;
}


/* DROPDOWN */

.dropdown{
position:relative;
}

.dropbtn{
background:#074399;
border:none;
color:white;
font-size:18px;
cursor:pointer;
}

.dropdown-content{
display:none;
position:absolute;
background:white;
min-width:150px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
}

.dropdown-content a{
color:#074399;
display:block;
padding:10px;
}

.dropdown:hover .dropdown-content{
display:block;
}


/* LOGO */

.logo-section{
text-align:center;
padding:30px;
}

.logo-section img{
width:250px;
}
.logo-section h1{
    font-size: 100px;
    color: #074399;
}

/* NEWS */

section{
padding:40px;
}

h2{
color:#074399;
margin-bottom:20px;
}


.news-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.news-card{
background:white;
border:1px solid #ddd;
padding:10px;
}

.news-card img{
width:100%;
}

.news-card h3{
margin:10px 0;
color:#074399;
}


/* FOOTER */

footer{
background:#074399;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
